<%- include('partials/header') %>

<div class="page-container">

<div class="jumbotron centered">
  <div class="container">
    <img src="https://img.freepik.com/free-vector/indian-rupee-exchange_23-2147994837.jpg?size=626&ext=jpg&ga=GA1.2.1677676664.1695057671&semt=sph" alt="" class="rounded-image" width="200" height="200">
    
    <h1 class="display-3">Minimize cash flow </h1>
    <p class="lead">Just enter your previous transactions among friends and find the simplified version of further transctions</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>
</div>
<%- include('partials/footer-main') %>
<%- include('partials/footer') %>
