<%- include('partials/header') %>
<%- include('partials/user-info') %>


<div style="margin-top: 10px; margin-left:10px">
    <h1>Home</h1>
    <br>
    <form action="/page1" method="post"> 
        <input type="text" name="num1" placeholder="Number of persons" required="true">
        <button type="submit">Next</button>
    </form>
</div>

<%- include('partials/header') %>
